@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700;800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  min-width: 320px;
  width: 100%;
  font-family: "Raleway", sans-serif;

  background-image: radial-gradient(black 0.5px, transparent 0.5px);
  background-size: 10px 10px;
}
